html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* Allows the main content to expand */
}

footer {
  margin-top: auto; /* Pushes the footer to the bottom */
}
